<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>this is template using EJS <%=4+5%>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repellat quos? Ipsum, autem natus? Quo
        atque placeat doloremque dolor esse debitis voluptatibus velit similique hic eum natus, vitae ea quae?
        Facilis reiciendis ad saepe veniam deserunt voluptate inventore, nostrum ratione delectus mollitia deleniti,
        repudiandae harum maxime reprehenderit ea. Perspiciatis cupiditate ea dolorem porro id neque accusamus fuga?
        Distinctio, est iusto.
        Cumque veniam a quibusdam, ipsum repellat error ab exercitationem deserunt magni, nemo expedita consequuntur
        odio corrupti distinctio totam reiciendis laudantium quo officiis ratione quae earum eveniet. Eveniet autem
        aspernatur reprehenderit.
        Iure accusantium necessitatibus, iusto suscipit eaque excepturi reiciendis expedita culpa, consequatur tenetur
        esse, facere tempora! Pariatur mollitia voluptas totam ad, laborum doloremque nam reiciendis unde nobis
        consequatur, ab et. Temporibus.
        Amet eligendi qui officiis consequatur quis possimus esse maxime temporibus? Illum aliquam temporibus
        reprehenderit ea non aut sunt. Accusamus praesentium ea quibusdam debitis, sit dolor quo corrupti qui eum
        reiciendis!</p>
</body>

</html>